<%# app/views/bids/_bid_form.html.erb %>

<%= form_with(model: bid, local: true) do |form| %>
  <% if item %>
    <p>Item: <%= item.name %></p>
    <%= form.hidden_field :item_id, value: item.id %>
  <% end %>

  <div>
    <%= form.label :amount, 'Amount' %>
    <% converted_amount = convert_currency(bid.amount, session[:currency] || 'SEK') %>
    <%= form.number_field :amount, value: sprintf('%.2f', converted_amount || 0), step: '10', min: '10', class: 'amount-input', onkeydown: "return event.key != 'ArrowDown' && event.key != 'ArrowUp' && event.key != '-' && event.key != '.';" %>
  </div>

  <div>
    <%= form.label :currency, 'Currency' %>
    <%= select_tag :currency, options_for_select([['SEK', 'SEK'], ['EUR', 'EUR'], ['USD', 'USD']], selected: session[:currency] || 'SEK'), class: 'currency-selector' %>
  </div>

  <div>
    <%= form.submit bid.new_record? ? 'Submit Bid' : 'Update Bid', class: 'submit-bid-button' %>
  </div>
<% end %>

