<!-- app/views/bids/new.html.erb -->
<h1>Place a New Bid</h1>

<%= form_with(model: Bid.new, url: bids_path, local: true) do |form| %>
  <% if @item %>
    <p>Item: <%= @item.name %></p>
    <%= form.hidden_field :item_id, value: @item.id %>
  <% end %>

  <div>
    <%= form.label :amount, 'Amount' %>
    <%= form.number_field :amount, step: '0.01', class: 'amount-input' %>
  </div>

  <div>
    <%= label_tag :currency, 'Currency' %>
    <%= select_tag :currency, options_for_select([['SEK', 'SEK'], ['EUR', 'EUR'], ['USD', 'USD']]), class: 'currency-selector' %>
  </div>

  <div>
    <%= form.submit 'Submit Bid', class: 'submit-bid-button' %>
  </div>
<% end %>