<div class="items-container">
<div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
  <h1>Available Items</h1>
  <div>
    <h4 style="margin-right: 10px; display: inline-block;">Select Currency</h4>
    <%= form_tag(change_currency_path, method: "post", style: "display: inline-block;") do %>
      <%= select_tag :currency, options_for_select([['SEK', 'SEK'], ['EUR', 'EUR'], ['USD', 'USD']], selected: session[:currency]), onchange: 'this.form.submit();', style: "font-size: 16px; padding: 5px 10px; vertical-align: middle;" %>
    <% end %>
  </div>
</div>

  <% @items.each do |item| %>
    <div class="item-row">
      <div class="item-details">
        <p class="item-title"><%= item.name %></p>
        <p class="item-description"><%= item.description %></p>
      </div>
      <% bid = @current_user.bids.find { |b| b.item_id == item.id } %>
      <div class="bid-info">
        <% if bid %>
          <% converted_amount, currency = convert_currency(bid.amount, session[:currency] || 'SEK') %>
          <%= link_to "#{number_to_currency(converted_amount, unit: currency, precision: 2)}", edit_bid_path(id: bid.id), class: "bid-link" %>
          <div class="actions-row">
            <%= button_to 'Delete', delete_bid_path(id: bid.id), method: :delete, class: "action-link" %>
          </div>
        <% else %>
          <%= link_to 'Place Bid', new_bid_path(item_id: item.id) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
