<div class="items-container">
  <% @items.each do |item| %>
    <div class="item-row">
      <div class="item-details">
        <p class="item-title"><%= item.name %></p>
        <p class="item-description"><%= item.description %></p>
      </div>
      <% bid = @current_user.bids.find { |b| b.item_id == item.id } %>
      <div class="bid-info">
        <% if bid %>
          <%= link_to "#{bid.amount} SEK", edit_bid_path(id: bid.id), class: "bid-link" %>
          <div class="actions-row">
            <%= button_to 'Delete', delete_bid_path(id: bid.id), method: :delete, class: "action-link" %>
          </div>
        <% else %>
          <%= link_to 'Place Bid', new_bid_path(item_id: item.id) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>